.main-page {
    color: #333; /* 원하는 글자 색상으로 변경 */
    padding: 20px; /* 내용 주변에 여백을 추가할 수 있습니다. */
}
body {
    margin: 0; /* 기본 margin 제거 */
    padding: 0; /* 기본 padding 제거 */
    box-sizing: border-box; /* box-sizing을 border-box로 설정하여 padding과 border가 요소의 크기에 영향을 주지 않도록 함 */
    /*background: linear-gradient(124.26deg, #ccf7c5 36.67%, #539c7d 99.61%);*/
    /*background: linear-gradient(-100.00deg, #97ec8b -50.67%, #1ffa88 99.61%);*/
    color: #333; /* 글자 색상 변경 */
}

@font-face {
    font-family: "Bitgoeul_Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Bitgoeul_Bold.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(124.26deg, #ccf7c5 36.67%, #539c7d 99.61%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bitgoeul_Bold";
    min-height: 100vh;
    margin: 0px;
}

/* Home */
.matchingPage {
    display: grid;
}
.matchingPage .top {
    display: flex;
    justify-content: center;
    align-items: center;
}
.matchingPage .top .top_left_content {
    width: 50%;
    height: 60%;
    padding-bottom: 35%;
    padding-right: 300px;
}

.matchingPage .top .top_right_content {
    width: 50%;
    height: 60%;
    padding-bottom: 35%;
    padding-right: 300px;
}

/* chatting css */
.chat_wrap{
    width: 500px;
    background-color: #ccf7c5;
}
.chat_wrap .header{
    font-weight: bold;
    background-color: #ccf7c5;
}
.chat_wrap .template_area{
    width: 300px;
    height: 300px;
    font-weight: bold;
    background-color: white;
}

.chat_wrap .template{
    width: 100%;
    height: auto;
    font-weight: bold;
    text-align: left;
    padding: 20px ;
    background-color: white;
}

.chat_wrap .sendBtn{
    width: 100%;
    background-color: coral;
}

/*.chat_wrap .header {
    font-size: 14px;
    padding: 15px 0;
    background: #F18C7E;
    color: wheat;
    text-align: center;
}
.chat_wrap .chat {
    padding-bottom: 80px;
}
.chat_wrap .chat ul{
    width: 100%;
    list-style: none;
}
.chat_wrap .chat ul li{
    width: 100%;
}
.chat_wrap .chat ul li.left{
    text-align: left;
}
.chat_wrap .chat ul li.right{
    text-align: right;
}
.chat_wrap .chat ul li > div{
    font-size: 13px;
}
.chat_wrap .chat ul li > div.sender {
    margin: 10px 20px 0 20px;
    font-weight: bold;
}
.chat_wrap .chat ul li > div.message {
   display: inline-block; word-break: break-all;
}
.chat_wrap .input-div {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ccf7c5;
    text-align: center;
    border-top: 1px solid #F18C7E;
}
.chat_wrap .input-div > textarea{
    width: 100%;
    height: 80px;
    border: none;
    padding: 10px;
}
.format{
    display: none;
}*/




