/* menubar */

.Menubar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Menubar .backgrondMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    height: 80px;
    background-color: rgba(14, 14, 14, 0.6);
    border: 1px solid #b3b3b3;
    border-radius: 20px;
}

.Menubar .backgrondMenu2 {
    margin-left: -52%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    height: 80px;
    background-color: rgba(14, 14, 14, 0.6);
    border: 1px solid #b3b3b3;
    border-radius: 20px;
}

.Menubar .icon {
    font-size: 60px;
    color: #25402d;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 10px;
    cursor: pointer;
}

.Menubar .icon:hover {
    font-size: 80px;
    transform: translateY(-15px);
}